* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

body {
	background: linear-gradient(-45deg, #ee7752, #e73c3c, #9d23d5, #23d5ab);
	background-size: 400% 400%;
	animation: gradient 10s ease infinite;
	/* height: 50vh; */
    font-family: 'Lato', sans-serif;
    padding-bottom: 2em;

}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

nav ul {
    background: rgba(0, 0, 0,0.4    );
    padding:  0;
    color: white;
    margin-bottom: 2em;
    display: flex;
    flex-direction: row;
    list-style-type: none;
}

nav  li {
    font-size: 1.5rem;
    padding: 0.75em 0.5em;
    border-left: 1px solid white ;
    border-collapse: collapse;
    outline: none;
}

nav a {
    color: white;
}

nav li:hover,
nav li:focus {
    background: black;
    cursor: pointer;
}

.active {
    background: rgba(0, 0, 0,0.5);
}

li:first-child {
    font-family: 'Fuzzy Bubbles', cursive;
}

.loc-box {
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-bottom: 2em;
}

.loc-box input {
    width:50%;
    min-width: 325px;
    text-align: center;
    padding: 1em 0;
    border-radius: 2em;
    border: 1px solid white;
    outline: none;
    background: rgba(0, 0, 0,0.5);
    color: white;
    margin-bottom: 3em;
    font-size: 1rem;
}

h2 {
    color: white;
    text-align: center;
    margin-bottom: 1.5em;
    font-size: 1.75rem;
}

h3 {
    color: white;
    padding: 1em;
}

#notify {
    font-size: 1.25rem;
    padding: 0.5em;
    margin: 0 1em;
}

.container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(10,280px);
    grid-column-gap: 1em;
    grid-row-gap: 0.5em;
    padding: 0.5em;
    /* margin-bottom: -35em; */
}

.container>div {
    position: relative;
    background: rgba(0, 0, 0,0.4); 
    border: 1px solid white;
}

.container>div:nth-child(1) {
    background-size: cover;
}

.container>div:nth-child(2) {
    background-size: cover;
    background-position: bottom;
}
 
.container div:nth-child(3) {
    background-size: cover;
}
 
.container div:nth-child(4) {
    background-size: cover;
}
 
.container div:nth-child(5) {
    background-size: cover;
}
 
.container div:nth-child(6) {
    background-size: cover;
    background-position: bottom;
}
 
.container div:nth-child(7) {
    background-size: cover;
}
 
.container div:nth-child(8) {
    background-size: cover;
}
 
.container div:nth-child(9) {
    background-size: cover;
}
 
.container div:nth-child(10) {
    background-size: cover;
    background-position: bottom;
}


button {
    font-size: 0.75rem;
    background: rgb(0, 174, 197);
    color: whitesmoke;
    padding: 0.35em 0.42em;
    border: none;
    font-weight: 500;
    cursor: pointer;
}

.caption {
    position: absolute;
    width: 100%;
    height: 70px;
    color: whitesmoke;
    bottom: 0;
    background: rgba(0, 0, 0,0.6);
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.caption div:nth-child(1) {
    width: 73%;
}

.caption div:nth-child(2) {
    width: 25%;
}

.title {
    font-size: 0.9rem;
    padding: 0.35em 1em 0 1em;
    font-weight: 400;
}

.od-title {
    text-align: center;
}

.date {
    font-size: 0.85rem;
    padding: 0 1em;
    font-weight: 300;
    color: rgb(190, 190, 190);
}


@media (min-width:969px) {

    header {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .loc-box {
        width: 100%;
    }
    
    .container {
        grid-template-columns: repeat(4,1fr);
        grid-template-rows: repeat(5,280px);

    }

}

@media (min-width:700px) and (max-width:969px)  {
    .container {
        grid-template-columns: repeat(3,1fr);
        grid-template-rows: repeat(5,280px);
    }

}

@media (min-width:500px) and (max-width:700px) {
    .container {
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: repeat(10,280px);
    }
}